<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @club.street_address %>
</p>

<p>

<h2>Upcoming Shows:</h2>
<% @club.bookings.each do |c| %>
    <% c.club.bookings %>
    <p><%= "Band Name: #{c.band.name}"%></p>
    <p><%= "Date: #{c.date}" %></p>
    <% days = c.date - Date.today%>
    <% days_r = days.to_i%>
    <p><%= "Days Remaining: #{days_r}" %> </p>
    <br>
<% end %>

</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
