<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>

<p>
  <strong>Num members:</strong>
  <%= @band.num_members %>
</p>

<p>

  <h2>Upcoming Shows:</h2>
    <% @band.bookings.each do |c| %>
      <% c.band.bookings %>
    <p><%= "Club Name: #{c.club.name}"%></p>
    <p><%= "Address: #{c.club.street_address}"%></p>
    <p><%= "Date: #{c.date}" %></p>
    <p><%= "Fee:  #{c.fee}" %></p>
    <br>
<% end %>

</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>