<!DOCTYPE html>
<html>
<head>
  <title>Liveshows</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<hr/>

<h3> Navigation</h3>

<%= link_to "Bands", bands_path %>
<%= link_to "Clubs", clubs_path %>
<%= link_to "Bookings", bookings_path %>


</html>
